:root {
  --palette1: #ead8d0;
  --palette2: #f7e4dd;
  --palette3: #dec0bb;
  --palette4: #847f87;
  --palette5: #858d9e;
}

body {
  background-color: #f7e4dd;
  background-color: var(--palette2, #f7e4dd);
  font-family: "Helvetica Now Display", Helvetica, sans-serif;
  height: 100%;
  width: 100%;
  margin: 1vamx 2vmax;
  /* overflow-y: hidden; */
}

.container {
  position: relative;
  /* margin: 2vmax 1vmax; */
  height: 29.28vmax;
  width: 100vmax;
}

.faBattery {
  position: fixed;
  top: 0vmax;
  left: 29vmax;
  color: #dec0bb;
  color: var(--palette3, #dec0bb);
  font-size: 2.73vmax;
}
