/* :root {
  --palette1: #ead8d0;
  --palette2: #f7e4dd;
  --palette3: #dec0bb;
  --palette4: #847f87;
  --palette5: #858d9e;
} */

.line {
  display: block;
  position: fixed;
  z-index: -2;
}

.l1 {
  top: 1vmax;
  left: 30vmax;
  color: #847f87;
  color: var(--palette4, #847f87);
}

.l2 {
  top: 15.2vmax;
  left: 47.5vmax;
  color: #847f87;
  color: var(--palette4, #847f87);
}

.cableLine {
  stroke: #847f87;
  stroke: var(--palette4, #847f87);
  stroke-width: 2;
}

#c5 {
  fill: #dec0bb;
  fill: var(--palette3, #dec0bb);
}
