/* :root {
  --palette1: #ead8d0;
  --palette2: #f7e4dd;
  --palette3: #dec0bb;
  --palette4: #847f87;
  --palette5: #858d9e;
} */

.stopper {
  fill: #847f87;
  fill: var(--palette4, #847f87);
  position: fixed;
  top: 14.5vmax;
  left: 70.6vmax;
  height: 4.39vmax;
  width: 4.39vmax;
  z-index: 1;
}
