/* :root {
  --palette1: #ead8d0;
  --palette2: #f7e4dd;
  --palette3: #dec0bb;
  --palette4: #847f87;
  --palette5: #858d9e;
} */

.twitt {
  position: fixed;
  /* top: 20.6vmax; */
  font-size: 3vmax;
  top: 12.9vmax;
  right: 13.5vmax;
  color: #858d9e;
  color: var(--palette5, #858d9e);
}

.twitt:hover {
  color: #dec0bb;
  color: var(--palette3, #dec0bb);
}
